asgiref
certifi
charset-normalizer
cloudinary
dj-database-url
Django
django-cloudinary-storage
django-cors-headers
django-rest-framework
djangorestframework
gunicorn
idna
Pillow
psycopg2-binary
python-decouple
pytz
requests
six
sqlparse
typing_extensions
tzdata
urllib3
whitenoise